<br>
<h2 style="text-align: center">YOU CANNOT HANDLE MY DOGGOS TRAVELER</h1>
<br><br>
<% @products.each do |product| %>
    <%= render partial: "product_teaser", locals: {product: product} %>
<% end %>