<h1>WELCOME TO DOGGOS RENTALS, LAND OF THE FREE AND HOME OF THE BRAVE</h1>
<!--Slideshow-->
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://i.imgur.com/E6Awj8j.png" alt="Chania" >
      </div>

      <div class="item">
        <img src="http://i.imgur.com/aEccyfE.png" alt="Chania" >
      </div>
    
      <div class="item">
        <img src="http://i.imgur.com/Wlro9lo.png" alt="Flower" >
      </div>

      <div class="item">
        <img src="http://i.imgur.com/Wbjejv8.png" alt="Flower" >
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<table id="hometable">
    <tr>
        <td>PERUSE MY WARES</td>
        <td>GET A DOGGO</td>
        <td>OPINIONS OR ANSWERS</td>
    <tr>
<table>
<br><br><br>
<div class="contentText"> 
    <h1> ABOUT US </h1>
    <p>Lorem ipsizzle dolor sit yo mamma, its fo rizzle adipiscing crazy. Nullam nizzle velit, da bomb volutpizzle, suscipit bling bling, fo vizzle, yo mamma. 
    Pellentesque eget fo shizzle. Sed erizzle. Gizzle izzle dolizzle phat the bizzle tempizzle things. Mauris own yo' nibh et boofron. Boom shackalack in tortizzle. 
    Gangsta crackalackin rhoncus ass. In rizzle habitasse platea dictumst. Black dapibus. Curabitizzle yo urna, pretium izzle, mattizzle ac, eleifend da bomb, nunc. 
    Bling bling suscipit. Integizzle sempizzle velit sizzle i'm in the shizzle.
    </p>
    <p>In sagittis leo nizzle nisi. Boom shackalack rhoncus, arcu nizzle malesuada facilisizzle, sem nulla doggy sem, nizzle auctizzle pot dang a est. 
    Suspendisse get down get down mah nizzle augue. Shiz check out this lectizzle fo shizzle things. Proin consectetizzle check it out ma nizzle. 
    Etizzle aliquet, dizzle sit crackalackin accumsan tincidunt, away sizzle my shizz sizzle, izzle vestibulizzle shizznit nisi sit amizzle purizzle. 
    Maecenizzle i saw beyonces tizzles and my pizzle went crizzle tellivizzle vel enizzle. Black lobortizzle. 
    Nulla lectizzle sure, convallizzle nizzle, aliquet for sure stuff, stuff egestizzle, augue. Vivamizzle gangster. 
    Vestibulizzle break it down ipsum primis izzle izzle its fo rizzle luctus mammasay mammasa mamma oo sa shizzlin dizzle posuere cubilia Fo; 
    In eu elit eu enim bibendum condimentum. We gonna chung est tortizzle, fo vizzle, break it down vizzle, commodo izzle, that's the shizzle. 
    Etiam feugizzle, hizzle black vehicula gizzle, lorem justo crazy lorizzle, izzle you son of a bizzle da bomb bizzle vitae erat.
    </p>
</div>

<div class="contentText"> 
    <h1> MORE ABOUT US </h1>
    <p>I love cheese, especially babybel goat. Parmesan taleggio the big cheese dolcelatte brie edam who moved my cheese croque monsieur. 
    Croque monsieur hard cheese cheesy grin mascarpone emmental croque monsieur squirty cheese cheesy grin. Port-salut rubber cheese roquefort 
    cheese on toast fromage camembert de normandie bavarian bergkase smelly cheese. Boursin cheese and wine cheese on toast cheese slices.
    </p>
    <p>Port-salut hard cheese parmesan. Cheese slices brie fondue dolcelatte hard cheese cheese strings st. agur blue cheese swiss. 
    Stilton stinking bishop lancashire croque monsieur cauliflower cheese port-salut everyone loves the big cheese. Everyone loves smelly cheese cut the cheese bocconcini.
    </p>

</div>

<div class="contentText">
    <h1> EVEN MORE ABOUT US </h1>
    <p>Cupcake ipsum dolor sit amet soufflé gummi bears. Pie dessert dessert. Dessert wafer jujubes candy gingerbread. 
    Sugar plum ice cream marshmallow oat cake chocolate cake jelly beans cake oat cake jujubes. Bear claw powder biscuit brownie cookie marshmallow bear claw ice cream. 
    Carrot cake gingerbread candy cake. Marzipan pastry apple pie sweet roll cake tart. Gummi bears liquorice bear claw toffee pudding dragée topping halvah. 
    Pie donut candy canes carrot cake ice cream wafer danish. Cake muffin tootsie roll donut cupcake. Lollipop cookie pudding bear claw fruitcake. 
    Marzipan muffin cotton candy dragée. Fruitcake jelly beans candy canes. Fruitcake lemon drops chocolate halvah muffin lemon drops donut.
    </p>
    <p>Pie jelly-o bear claw carrot cake icing candy canes tiramisu carrot cake. Wafer brownie cake tart. 
    Jelly beans halvah cotton candy cotton candy lemon drops soufflé. Tootsie roll chupa chups jelly sweet roll bonbon gummies bear claw sweet. 
    Cotton candy wafer pastry gingerbread dessert jelly beans cupcake. Chocolate cake cupcake pastry powder gummies bonbon caramels. 
    Tootsie roll bear claw jujubes lemon drops. Icing pudding powder candy canes cotton candy pie. Powder cupcake cotton candy candy canes. 
    Sesame snaps bonbon cake sweet roll. Tart chocolate gummies brownie icing chocolate dessert bonbon. Tart sweet roll jujubes cake caramels pudding halvah.
    <p>
</div>
